body{
    margin: 0;
}
.col-sm-2{
    background-color: gainsboro;
    height: 655px;
}
.col-sm-8{
    background-image: url(../images/building.jpeg);
    background-size: cover;
    height: 655px;
    background-attachment: scroll;
    background-blend-mode: darken;
}
ul a{
    margin-left: 40px;
    font-size: 20px;
    color: whitesmoke;
}
ul a:hover{
    background-color: blue;
    color: white;
}
form{
    margin-top: 120px;
    color: whitesmoke;
}
.form-group{
    margin-left: 80px;
}

/* Full-width input fields */
input[type=email], input[type=password]{
    width: 400px;
    border-radius: 45px;
    opacity: 0.4;
}
input[type=checkbox]{
    margin-left: 80px;
    background-color: blue;
    color: blue;
    cursor: pointer;
}
button{
    width: 400px;
    cursor: pointer;
    margin-left: 80px;
}
button:hover{
    opacity: 0.4;
    background-color: blue;
}
button[type=submit]{
    background-color: blue;
    border-radius: 45px;
    color: white;
}
.forgot{
    text-align: center;
}
ol a{
    font-size: 20px;
    color: whitesmoke;
}
ol a:hover{
    background-color: blue;
}
.horizontal{
    width: 400px;
    margin-left: 80px;
}

